h1{
    background-color: aqua;
    color: black;
    text-align: center;
    font-weight: lighter;
    text-decoration: underline red;
    font-size: 10em;
}

.cssTutorial{
    text-align: justify;
    font-weight: lighter;
    line-height: 2em;
}

.sejarah{
    text-align: end;
    background-color: pink;
    font-weight: bold;
    letter-spacing: -1px;
}

.future{
    text-align: center;
    background-color: gray;
    color: white;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: black;
}