div {
    width: 300px;
    margin: 20px;
}

div {
    border-style:dotted dashed solid double;
    border-width: 5px 10px 15px 20px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-color: green;
}

div {
    /* padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px; */
    padding: 10px 40px;
}

div {
    margin-top: 30px;
}